html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
}

.container-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.container {
  @extend .container-padding;
  display: flex;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $sd) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md) {
  .container-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $ld) {
  .container-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $eld) {
}
