@import 'styles/abstracts/variables';

#hero {
  height: 100%;
  position: relative;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section-left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      &::after {
        content: '';
        z-index: -2;
        top: -20%;
        left: 0;
        width: 100%;
        height: 150%;
        opacity: 0.5;
        background-image: url('/assets/images/blur-background-small.svg');
        background-size: contain;
        background-repeat: no-repeat;
        filter: blur(80px);
        position: absolute;
      }
      .header {
        margin-bottom: 0.3rem;
      }
      .primary-btn {
        margin-top: 2rem;
        max-width: 150px;
      }
    }

    .section-right {
      width: 50%;
      display: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md) {
  #hero {
    .container {
      flex-direction: row;
      .section-left {
        align-items: flex-start;
        width: 50%;
        h1,
        h2 {
          text-align: left;
        }
      }

      .section-right {
        display: block;
        margin-left: auto;
        position: relative;
        width: 50%;
        &::after {
          content: '';
          z-index: -2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('/assets/images/blur-background-big.svg');
          background-size: contain;
          background-repeat: no-repeat;
          filter: blur(100px);
          position: absolute;
        }

        .hero-img {
          width: 100%;
          transform: rotateY(180deg);
        }
      }
    }
  }
}
